{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src={% static 'main.js' %} defer> </script>
    <title>
        {% block title %} {% endblock %}
    </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css"  href = {% static 'css/login.css' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'nav_sidebar.css' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'css/base.css' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'css/responsive.css' %} >

     <!-- Custom css -->
    <link rel="stylesheet" type="text/css"  href = {% static 'css/styleTab.css' %} >

        <script src={% static 'js/styleTab.js' %} defer> </script>




</head>
<body class=" login" data-admin-utc-offset="0"  ">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CLINICA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Mision</a>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Historia Clinica
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Hospitalizados</a>
          <a class="dropdown-item" href="/manejoLuz#">Urgencias</a>
          <a class="dropdown-item" href="/crearHistoriaClinica1#">Pruebas Tabs Historia clinica</a>


          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>


      <!--       <a class="nav-link" href="/accesoEspecialidadMedico/{{documento}}#">Historia Clinica</a> -->

              <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Toma de Examenes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Presion Arterial</a>
          <a class="dropdown-item" href="/manejoLuz#">Températura</a>
          <a class="dropdown-item" href="#">Electrocardiograma</a>
          <a class="dropdown-item" href="#">Tension</a>
            <a class="dropdown-item" href="/ambienteMusical#">Saturacion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>



             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Reporte_1</a>
          <a class="dropdown-item" href="/manejoLuz#">Reporte_2</a>
          <a class="dropdown-item" href="#">Reporte_3</a>
          <a class="dropdown-item" href="#">Reporte_4</a>
            <a class="dropdown-item" href="/ambienteMusical#">Reporte_5</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>


        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
             <a class="nav-link" href="/retornarMen/{{Sede}}, {{Username}}, {{Documento}}, {{NombreSede}}, {{Profesional}}">Retornar</a>


      </div>
         {{NombreSede}} - {{Profesional}}
    </div>
  </div>
    <form class="form-inline my-2 my-lg-0">

        <button class="btn btn-outline-success my-2 my-sm-0" type="button"> {% for nombreSede in NombreSede%}
             {{ nombreSede.nombre}}
        {% endfor %}</button>

                 <button class="btn btn-outline-success my-2 my-sm-0" type="button">CLINICO</button>



             </form>
</nav>

{% block content  %}

<input type="hidden" id="username" name="username" value = "{{Username}}">
<input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value = "{{SedeSeleccionada}}">
<input type="hidden" id="numreporte" name="numreporte" value = "{{numreporte}}">
<input type="hidden" id="grupo" name="grupo" value = "{{Grupo}}">
<input type="hidden" id="subGrupo" name="subGrupo" value = "{{SubGrupo}}">
<!--  Estos si de la Aplixcacion bse -->


<input type="hidden" id="sede" name="sede" value = "{{Sede}}">
<input type="hidden" id="documento" name="documento" value = "{{Documento}}">
<input type="hidden" id="nombreSede" name="nombreSede" value = "{{NombreSede}}">
<input type="hidden" id="profesional" name="profesional" value = "{{Profesional}}">
<input type="hidden" id="permisosGrales" name="permisosGrales" value = "{{PermisosGrales}}">
<input type="hidden" id="permisosDetalle" name="permisosDetalle" value = "{{PermisosDetalle}}">




{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<script src={% static 'js/menuMedico.js' %} defer>         </script>



</body>

</html>

