{% extends "Reportes/menuReportes.html" %}
{% load static %}

{% block content %}
<!-- desde AQUI SI SEÑORES                      -->

<br/>

<div class="row" style=" height: 300px;">

    <div class="col-xl-1"></div>

    <div class="col-xl-2" >

        <figure class="figure">
            <img src="{% static '/img/medical1.jpg' %}" class="figure-img img-fluid rounded"
                 style="width:100px;height:70px;"
                 alt="...">
            <figcaption class="figure-caption text-right">CLINICA MEDICAL
            </figcaption>
        </figure>

    </div>

    <div class="col-xl-1"></div>

    <div class="col-xl-4" >
        <div class="mx-auto" style="width: 500px;">

             <figure class="figure">

            <figcaption class="figure-caption text-right">
                <br>
                <br>

                <H1>
                    CLINIREPORT
                </H1>

            </figcaption>
        </figure>


        </div>
    </div>

    <div class="col-xl-1">

    </div>


    <div class="col-xl-2" ">

        <figure class="figure">
            <img src="{% static '/img/Doctor1.jpg' %}" class="figure-img img-fluid rounded"
                 style="width:100px;height:70px;"
                 alt="...">
            <figcaption class="figure-caption text-right">Actitud de Servicio
            </figcaption>
        </figure>

    </div>

</div>

<div class="col-xl-1"></div>


<br/>


<!-- HASTA AQUI                                              -->


<div class="row"  style=" height: 100px;">

    <div class="col-xl-3"></div>

    <div class="col-xl-3" style="width:50px;height:10px;">

        <figure class="figure">
            <img src="{% static '/img/medical1.jpg' %}" class="figure-img img-fluid rounded"
                 style="width:200px;height:100px;"
                 alt="...">
            <figcaption class="figure-caption text-right"> ASISTENCIAL
            </figcaption>
        </figure>

    </div>


    <div class="col-xl-3" style="width:50px;height:10px;">

        <figure class="figure">
            <img src="{% static '/img/medical1.jpg' %}" class="figure-img img-fluid rounded"
                 style="width:200px;height:100px;"
                 alt="...">
            <figcaption class="figure-caption text-right"> ADMINISTRATIVO
            </figcaption>
        </figure>

    </div>



    <div class="col-xl-3"></div>


</div>





{% endblock %}


